

  <!--Introduction-->
  <section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <h2 class="section-title">¿Qué servicios ofrecemos?</h2>
                <p class="section-subtitle">Ofrecemos servicios para reparar dispositivos 
                    como teléfonos móviles, computadoras portátiles, televisores y otros dispositivos electrónicos. 
                    Esto incluye diagnóstico y reparación de problemas, reemplazo de piezas defectuosas, actualizaciones de 
                    software, recuperación de datos, asesoramiento técnico y 
                    garantías de servicio para garantizar la satisfacción del cliente.</p>
            </div>

        </div>

        <div class="col-2-3">

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Icon-->
                <div class="icon">
                  <i class="fa fa-wrench" ></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Reparación para todos</h4>
                    <p>Reparamos toda clase de productos electronicos</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-bolt fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4> Rapidez</h4>
                    <p>Entregamos de manera rapida sus equipos</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                  <i class="fa fa-laptop"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Desde laptops</h4>
                    <p>Puede solicitar su cita a traves de internet</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                  <i class="fa fa-mobile"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Rey Fixed</h4>
                    <p>Reparamos desde equipos móviles, laptops, consolas, etc.</p>
                </div>
            </div>
            <!--End of Icon Block-->

        </div>

    </div>


</section>
