
<footer id="landing-footer" class="clearfix">
    <div class="row clearfix">
        <p id="copyright" class="col-2"> Todos los derechos reservados a <i class="fa fa-copyright fa-copyright">Rey Fixed (2024)
           </i>

        </p>
  
        <!--Social Icons in Footer-->
        <ul class="col-2 social-icons">
            <li>
                <a target="_blank" title="Facebook" href="https://www.facebook.com/username">
                    <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="Twitter" href="http://www.twitter.com/username">
                    <i class="fa fa-twitter fa-1x"></i><span>X</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                    <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                </a>
            </li>
        </ul>
    </div>
  </footer>